.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.footer__text {
  margin: 0;
}
